---
version: '3.9'
services:
  cassandra:
    image: cassandra:latest
    container_name: '${CASSANDRA_CLUSTER_NAME}'
    hostname: '${CASSANDRA_CLUSTER_NAME}'
    ports:
      - "9042:9042"
    environment:
      - "MAX_HEAP_SIZE=256M"
      - "HEAP_NEWSIZE=128M"
    restart: always
    healthcheck:
      test: ["CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces"]
      interval: 15s
      timeout: 10s
      retries: 5
  cassandra_schema_loader:
    build:
      context: ../../
      dockerfile: tools/docker/Dockerfile.cassandra_schema_loader
    depends_on:
      cassandra:
        condition: service_healthy
  user_api:
    build:
      context: ../../
      dockerfile: tools/docker/Dockerfile.user_api
    ports:
      - '8000:8000'
    image: kodawari/user_api
    hostname: user_api
    container_name: user_api
    depends_on:
      cassandra:
        condition: service_healthy
      cassandra_schema_loader:
        condition: service_completed_successfully
    environment:
      KODAWARI_SECRET_KEY: '${KODAWARI_SECRET_KEY}'
      CASSANDRA_CLUSTER_NAME: '${CASSANDRA_CLUSTER_NAME}'
