name: kodawari.authentication test
run-name: ${{ github.actor }} is testing kodawari.authentication
on:
  pull_request:
    paths: 
      - py/lib/kodawari.authentication/**
  push:
    branches:
      - "main"
    paths:
      - py/lib/kodawari.authentication/**

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11.1"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache Poetry
        id: cache-poetry
        uses: actions/cache@v3
        with:
          path: $HOME/.local/bin/poetry
          key: poetry-1
      - name: Install latest version of Poetry
        if: steps.cache-poetry.outputs.cache-hit != 'true'
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: Add Poetry to path
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: poetry install --no-interaction
        working-directory: py/lib/kodawari.authentication
      - name: Test - Source code is sorted (ssort)
        run: poetry run ssort --check
        working-directory: py/lib/kodawari.authentication
      - name: Test - Imports are sorted (isort)
        run: poetry run isort **/*.py -c -v
        working-directory: py/lib/kodawari.authentication
      - name: Test - Source code is linted (black)
        run: poetry run black --check .
        working-directory: py/lib/kodawari.authentication
      - name: Test - Docstrings are properly formatted according to google standard (darglint)
        run: poetry run darglint -s google -z full
        working-directory: py/lib/kodawari.authentication
      - name: Test - Static type check (pyright)
        run: poetry run pyright --warnings
        working-directory: py/lib/kodawari.authentication
      - name: Test with pytest
        run: poetry run pytest
        working-directory: py/lib/kodawari.authentication



