name: kodawari.identity test
run-name: ${{ github.actor }} is testing kodawari.identity
on:
  pull_request:
    paths:
      - .github/actions/setup_python
      - .github/actions/test_python
      - .github/workflows/kodawari.identity.yaml
      - py/lib/kodawari.identity/**
  push:
    branches:
      - "main"
    paths:
      - .github/actions/setup_python
      - .github/actions/test_python
      - .github/workflows/kodawari.identity.yaml
      - py/lib/kodawari.identity/**

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11.1"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: setup
        uses: ./.github/actions/setup_python
        with:
          workdir: py/lib/kodawari.identity
      - name: test
        uses: ./.github/actions/test_python
        with:
          workdir: py/lib/kodawari.identity
